.dropdown {
    position: relative;
    padding: 0.6rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 95%;
    cursor: pointer;
}

.dropdown-options {
    position: absolute;
    max-width: 600px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    z-index: 1;
}

.dropdown-option {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: rgb(239, 211, 251);
}